<mat-card (click)="movieClicked.emit(info.id)" class="card">
  <mat-card-header>
    <mat-card-title class="title">
      {{
        (info.title | slice : 0 : 15) + (info.title.length > 15 ? "..." : "")
      }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @if (info.poster_path) {
    <img
      [src]="'https://image.tmdb.org/t/p/w500' + info.poster_path"
      class="img-fluid"
    />
    }
    <p class="mt-2">{{ info.release_date | date : "d MMM yyyy" }}</p>
    <p>Rating: {{ info.vote_average }}</p>
  </mat-card-content>
</mat-card>
